* {
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: baseline;
}
.logocac{
    max-width: 5em;
    height: auto;
}
.estiloconf{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
.estilonav{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.imagenba1{
    width: 100%;
    filter: brightness(40%);
    position: relative;
}

.texto1{
    position: absolute;
    top: 55%; 
    right: 0%;
    width: 35%;
    color: white;
    text-align: right;
    margin: 7%;
}
.boton1{
    position: absolute;
    top: 80%; 
    right: 10%;
    width: 35%;
    text-align: right;
    margin: 7%;
}
.boton2{
    position: absolute;
    top: 80%; 
    right: 0%;
    width: 35%;
    text-align: right;
    margin: 7%;
}
.oradores{
    text-align: center;
    padding: 1%;
}
.texto2{
    font-size: 1.7em;
    font-weight: bold;
}
.texto3{
    font-size: 0.8em;
}
.imagen2{
    max-width: 45%;
}
.col-4{
    width: 20%;
    float: left;
}
