.logocac{
    max-width: 4em;
    height: auto;
}
.padre{
    position: relative;
}
.imagenba1{
    width: 100%;
    filter: brightness(40%);
 }
.oradores{
    text-align: center;
    padding: 1%;
}
.texto2{
    font-size: 2em;
    font-weight: 600;
}
.texto3{
    font-size: 1em;
}
.imagen2{
    max-width: 100%;
}
.lorem{
    font-size: 0.75rem;
}
.greybg{
    background-color: rgb(67, 67, 67);
}
.imagenplaya{
    width: 100%;
}
.colorba{
    color: white;
}
.textoba{
    font-size: 0.95rem;
    color: white;
}
.ignite{
    text-decoration: dotted underline;
}
.recuerda{
    font-size: 0.7rem;
    color: grey;
}
.btn.send{
    min-width: 100%;
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: rgb(12, 72, 109);
    color: white;
    white-space: wrap;
}
@media screen and (max-width: 466px){
    div.texto1{
        font-size: 0.5rem;
        position: absolute; 
        top: 0%;
        color: white;
        text-align: right;
        padding-left: 5%;
        padding-right: 5%;
    }
    div.boton1{
        position: absolute;
        left: 3%;
        top: 75%;
        text-align: left;
    }
    div.boton2{
        position: absolute;
        right: 3%;
        top: 75%;
        text-align: left;
    }
    #conferencia {
        font-size: 0.65rem;
    }
    }
@media screen and (min-width: 467px) and (max-width: 768px){
    div.texto1{
        position: absolute; 
        top: 10%;
        width: 100%;
        color: white;
        text-align: right;
        padding-left: 5%;
        padding-right: 5%;
    }
    div.boton1{
        position: absolute; 
        top: 80%;
        width: 100%;
        color: white;
        text-align: right;
        padding-left: 5%;
        padding-right: 40%;
    }
    div.boton2{
        position: absolute; 
        top: 80%;
        width: 100%;
        color: white;
        text-align: right;
        padding-left: 5%;
        padding-right: 5%;
    }
    
}
@media screen and (min-width: 769px){
    div.texto1{
        position: absolute; 
        right: 0%;
        bottom: 15%;
        width: 35%;
        color: white;
        text-align: right;
        margin: 7%;
    }
    div.boton1{
        position: absolute;
        right: 20%;
        bottom: 10%;
        width: 35%;
        text-align: right;
        margin: 7%;
    }
    div.boton2{
        position: absolute;
        right: 0%;
        bottom: 10%;
        width: 35%;
        text-align: right;
        margin: 7%;
    }
}
@media screen and (min-width: 1250px){
    div.boton1{
        position: absolute;
        right: 10%;
        bottom: 10%;
        width: 35%;
        text-align: right;
        margin: 7%;
    }
}
